<div class="d-flex flex-column align-items-center">
    <div class="col-8">
        {%  if programs == true %}
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <img src="{{ programs[programs|length-1].image }}" class="carouselImage d-block" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>{{ programs[programs|length-1].title }}</h3>
                            <p>{{ programs[programs|length-1].description }}</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="{{ programs[programs|length-2].image }}" class="carouselImage d-block" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h3>{{ programs[programs|length-2].title }}</h3>
                            <p>{{ programs[programs|length-2].description }}</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <img src="{{ programs[programs|length-3].image }}" class="carouselImage d-block" alt="...">
                        <div class="col carousel-caption d-none d-md-block">
                            <h3>{{ programs[programs|length-3].title }}</h3>
                            <p>{{ programs[programs|length-3].description }}</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% endif %}
    </div>
</div>