{% block stylesheets %}
    {{ encore_entry_link_tags('formComment') }}
{% endblock %} 

{{ form_start(formComment) }}
    {{ form_label(formComment.comment, 'Comment this episode : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formComment.comment, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formComment.rate, 'Rate this episode : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formComment.rate, {'attr': {'class': 'form-range'}}) }}

    <button class="button btn btn-primary">{{ 'Send' }}</button>
{{ form_end(formComment) }}

