{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexSeries') }}
{% endblock %}

{% block title %}All Series{% endblock %}

{% block body %}
    <div class="container">
        {# Only for admin and contributor for add new series #}
        {% if is_granted("ROLE_CONTRIBUTOR") %}
            <div class="addButtons">
                <a class="buttonAddSeries btn btn-success btn-sm" href="{{ path("series_new") }}">Add new series</a>
                <a class="buttonAddCategory btn btn-success btn-sm" href="{{ path("category_new") }}">Add new category</a>
            </div>
        {% endif %}
        <h1>
            {% if searchedWord == '' %}
                All series
            {% else %}
                Result for : {{ searchedWord }}
            {% endif %}
        </h1>
        <div class="body">
            {% for oneSeries in series %}
                <div class="oneSeries">
                    <a class="shinePosterSeries" href="{{ path("series_show", { slug: oneSeries.slug, id: oneSeries.id }) }}">
                        {% if oneSeries.poster %}
                            {% if ('https://' in oneSeries.poster) or ('http://' in oneSeries.poster) %}
                                <img class="posterSeries" src="{{ oneSeries.poster }}" alt="{{ oneSeries.title }} poster">
                            {% else %}
                                <img class="posterSeries" src="/uploads/series/posters/{{ oneSeries.poster }}" alt="{{ oneSeries.title }} poster">
                            {% endif %}
                        {%  else %}
                            <img class="posterSeries" src="{{ asset('build/noImage.jpg') }}" alt="{{ oneSeries.title }} poster">
                        {% endif %}
                    </a>
                    {# Only for admin and contributor for edit or delete series #}
                    {% if is_granted("ROLE_CONTRIBUTOR") %}
                        <div class="rectificationButtonsSeries">
                            <!-- Edit series button -->
                            <a class="buttonEditSeries btn btn-primary btn-sm" href="{{ path("series_edit", { slug: oneSeries.slug, id: oneSeries.id }) }}" type="button">Edit</a>
                            <!-- Delete series button -->
                            <form class="formDeleteSeries" method="POST" action="{{ path('series_delete', { id: oneSeries.id }) }}" onsubmit="return confirm('Do you want to delete the series : {{ oneSeries.title }} ?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oneSeries.id) }}">
                                <button class="buttonDeleteSeries btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    {% endif %}
                    <a class="titleSeries" href="{{ path("series_show", { slug: oneSeries.slug, id: oneSeries.id }) }}">{{ oneSeries.title }}</a>
                    {% if oneSeries.category.name is defined %}
                        <a class="nameCategory" href="{{ path("category_show", { categoryName: oneSeries.category.name, id: oneSeries.category.id }) }}">{{ oneSeries.category.name }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
