{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showSeries') }}
{% endblock %}

{% block title %}{{ series.title }}{% endblock %}

{% block body %}
    <div class="container">
        {# Only for admin and author for add new series #}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
            <a class="buttonAddSeason btn btn-success btn-sm" href="{{ path("season_new") }}">Add new season</a>
        {% endif %}
        <h1>{{ series.title }}</h1>
        <div class="body">
            {% if ('https://' in series.poster) or ('http://' in series.poster) %}
                <img class"poster" src="{{ series.poster }}" alt="{{ series.title }} poster">
            {% else %}
                <img class"poster" src="/uploads/series/poster/{{ series.poster }}" alt="{{ series.title }} poster">
            {% endif %}
            <div class="informations">
                <p>Title :
                    <a href="{{ path("series_show", { slug: series.slug }) }}">{{ series.title }}</a>
                    {% if app.user %}
                        <a id="watchlist" href="{{ path('series_watchlist', { id: series.id }) }}">
                            <i class="heart bi {{ app.user.isInWatchlist(series) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
                        </a>
                    {% endif %}
                </p>
                <p>Date : {{ series.year }}</p>
                <p>Category :
                    <a href="{{ path("category_show", { categoryName: series.category.name }) }}">{{ series.category.name }}</a>
                </p>
                <p>Country : {{ series.country }}</p>
                <p>Actors :
                    {% for actor in seasons[0].actors|slice(0, 4) %}
                        <a href="{{ path('actor_show', { id: actor.id }) }}">{{ actor.name }}</a>
                        {# Not , after last actor name #}
                        {{ (loop.index < 4) ? ',' : '' }}
                    {% else %}
                        &#160;Aucun acteur pour cette série
                    {% endfor %}
                </p>
                <div class="dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Seasons : {{ seasons|length }} seasons
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for season in seasons %}
                        <a class="dropdown-item" href="{{ path('season_show', { slug: series.slug, seasonId: season.id }) }}">Season
                            {{ season.number }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <p class="description">{{ series.description }}</p>
            <div class="descriptionImage">
                {% if ('https://' in series.image) or ('http://' in series.image) %}
                    <img class="image" src="{{ series.image }}" alt="{{ series.title }} image">
                {% else %}
                    <img class="image" src="/uploads/series/images/{{ series.image }}" alt="{{ series.title }} image">
                {% endif %}
            </div>
        </div>
        {# Only for admin and author for edit or delete series #}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
            <div class="rectificationButtons">
                <!-- Edit series button -->
                <a class="buttonEdit btn btn-primary btn-sm" href="{{ path("series_edit", { slug: series.slug }) }}" type="button">Edit series</a>
                <!-- Delete series button -->
                <form class="formDelete" method="post" action="{{ path('series_delete', { 'id': series.id }) }}" onsubmit="return confirm('Are you sure you want to delete the series : {{ series.title }} ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ series.id) }}">
                    <button class="buttonDelete btn btn-danger btn-sm">Delete series</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
