{% extends 'layout.html.twig' %}
{% block title %}All series{% endblock %}

{% block body %}
    <h1 class="m-5">Toutes les catégories existante : </h1>
    {% for categorie, seriesCategorie in seriesCategories %}
        <h2><a href="{{ path("category_show", { categoryName: categorie }) }}">{{ loop.index }} / {{ categorie }}</a></h2>
        <div class="row">
            <a class="shine" href="{{ path("serie_show", { slug: seriesCategorie.slug }) }}">
                <img src="{{ seriesCategorie.poster }}" alt="poster of series">
            </a>
            <a href="{{ path("serie_show", { 'slug': seriesCategorie.slug }) }}">{{ seriesCategorie.title }}</a>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

    <a href="{{ path('home') }}">
        Retour à l'accueil
    </a>
{% endblock %}
