{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showCategory') }}
{% endblock %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="container">
        {# Only for admin and author for add new series #}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
            <a class="buttonAddCategorie btn btn-success btn-sm" href="{{ path("category_new") }}">Add new category</a>
        {% endif %}
        <h1>All categories</h1>
        <div class="body">
                        {{ dump(categories)}}
            {% for categorie, seriesCategorie in seriesCategories %}
                <h2>
                    <a href="{{ path("category_show", { categoryName: categorie }) }}">{{ categorie }}</a>
                </h2>

            {% for seri in seriesCategorie %}


                    <div class="row">
                        <a class="shine" href="{{ path("series_show", { slug: seri.slug, id: seri.id }) }}">
                            <img src="{{ seri.poster }}" alt="poster of series">
                        </a>
                        <a href="{{ path("series_show", { slug: seri.slug, id: seri.id }) }}">{{ seri.title }}</a>
                    </div>
                 {% endfor %}
            {% else %}
                No series found
            {% endfor %}
        </div>
    </div>
{% endblock %}
