{% extends 'layout.html.twig' %}
{% block title %} All series in category {% endblock %}

{% block body %}
    {% if series %}
        <h1 class="my-5">{{ series.0.category.name }}</h1>

        {% for serie in series %}
            <div class="my-5">
                <h2>
                    <a href="{{ path("serie_show", { 'slug': serie.slug }) }}">{{ serie.title }}</a>
                </h2>
                <p>{{ serie.description }}</p>
            </div>
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    {% endif %}

    <a href="{{ path('category_index') }}">
        Retour à la liste des catégories
    </a>
{% endblock %}
