 {% block stylesheets %}
    {{ encore_entry_link_tags('formSeason') }}
{% endblock %} 

{{ form_start(form) }}
    {{ form_label(form.title, 'Title : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.number, 'Number : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.synopsis, 'Synopsis : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.synopsis, {'attr': {'class': 'form-control'}}) }}


{{ dump(season) }}
{#     {{ form_label(form.season, 'Season : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.season, {'attr': {'class': 'form-control', 'value' : '2'}}) }} #}

    <button class="button btn btn-primary">{{ 'Save' }}</button>
{{ form_end(form) }}