{% block stylesheets %}
    {{ encore_entry_link_tags('formEpisode') }}
{% endblock %} 

{{ form_start(formEpisode) }}
    {{ form_label(formEpisode.title, 'Title : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formEpisode.title, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formEpisode.number, 'Number : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formEpisode.number, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formEpisode.posterFile, 'Poster : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formEpisode.posterFile, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formEpisode.synopsis, 'Synopsis : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formEpisode.synopsis, {'attr': {'class': 'form-control'}}) }}

    <button class="buttonEpisode btn btn-primary">{{ 'Save' }}</button>
{{ form_end(formEpisode) }}
