{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('editEpisode') }}
{% endblock %}

{% block title %}Edit Episode{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edit episode : {{ episode.title }}</h1>
        <h2>{{ series.title }} - season {{ season.number }}</h2>
        {{ include('episode/_form.html.twig') }}
    </div>
{% endblock %}
