{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('newEpisode') }}
{% endblock %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add new episode</h1>
        <h2>{{ series.title }} - season {{ season.number }}</h2>
        <div class="body">
            {{ include('episode/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
