{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showEpisode') }}
{% endblock %}

{% block title %}{{ series.title }} - {{ episode.title }}{% endblock %}

{% block body %}
    <div class="container">
        {# Only for admin and contributor for edit or delete episode #}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
            <div class="rectificationButtonsEpisode">
                <!-- Edit episode button -->
                <a class="buttonEditEpisode btn btn-primary btn-sm" href="{{ path("episode_edit", { episodeSlug: episode.slug, id: episode.id, seasonNumber: season.number, seasonId: season.id, seriesSlug: series.slug, seriesId:series.id }) }}" type="button">Edit episode</a>
                <!-- Delete episode button -->
                <form class="formDeleteEpisode" method="POST" action="{{ path('episode_delete', { id: episode.id }) }}" onsubmit="return confirm('Do you want to delete the episode : {{ episode.title }} ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ episode.id) }}">
                    <button class="buttonDeleteEpisode btn btn-danger btn-sm">Delete episode</button>
                </form>
            </div>
        {% endif %}
        <h1>{{ episode.title }}</h1>
        <div class="body">
            {% if ('https://' in season.poster) or ('http://' in season.poster) %}
                <img src="{{ season.poster }}" alt="{{ series.title }} poster">
            {% else %}
                <img src="/uploads/seasons/posters/{{ season.poster }}" alt="{{ series.title }} poster">
            {% endif %}
            <div class="informationsEpisode">
                <p>Series title :
                    <a href="{{ path("series_show", { id: series.id, slug: series.slug }) }}">{{ series.title }}</a>
                </p>
                <p>Season :
                    <a href="{{ path("season_show", { seasonNumber: season.number, id: season.id, seriesSlug: series.slug, seriesId: series.id }) }}">Season {{ season.number }}</a>
                </p>
                <p>Date : {{ season.year }}</p>
                <p>Episode title :
                    <a href="{{ path("episode_show", { episodeSlug: episode.slug, id: episode.id, seasonNumber: season.number, seasonId: season.id, seriesSlug: series.slug, seriesId:series.id }) }}">{{ episode.title }}</a>
                </p>
                <p>Episode rate : {{ averageRate }}</p>
            </div>
        </div>
        <div>
            <p class="descriptionEpisode">{{ episode.synopsis }}</p>
            <div class="descriptionPosterEpisode">
                {% if ('https://' in episode.poster) or ('http://' in episode.poster) %}
                    <img class="posterEpisode" src="{{ episode.poster }}" alt="{{ episode.title }} poster">
                {% else %}
                    <img class="posterEpisode" src="/uploads/series/images/{{ episode.poster }}" alt="{{ episode.title }} poster">
                {% endif %}
            </div>
        </div>
        {# Comment Episode and rate it #}
        {% if app.user and is_granted("ROLE_ADMIN")%}
            {% if app.user %}
                <div class="formCommentEpisode">
                    {{ include('comment/_formCommentEpisode.html.twig') }}
                </div>
            {% endif %}
        {% endif %}
        <div class="listCommentsEpisode">
            <p class="titleCommentEpisode">Comments on the episode</p>
            {% for comment in episode.comments | reverse %}
                <div class="commentEpisode">
                    <p>Commentary : {{ comment.comment }}</p>
                    <p>Rate : {{ comment.rate }}</p>
                    <p>comment by : {{ comment.author.username }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
