{% block stylesheets %}
    {{ encore_entry_link_tags('formSeason') }}
{% endblock %} 

{{ form_start(formSeason) }}
    {{ form_label(formSeason.number, 'Number : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formSeason.number, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formSeason.year, 'Year : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formSeason.year, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formSeason.description, 'Description : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formSeason.description, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formSeason.posterFile, 'Poster : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formSeason.posterFile, {'attr': {'class': 'form-control'}}) }}

    <button class="button btn btn-primary">{{ 'Save' }}</button>
{{ form_end(formSeason) }}
