 {% block stylesheets %}
    {{ encore_entry_link_tags('formSeason') }}
{% endblock %} 

{{ form_start(form) }}
    {{ form_label(form.number, 'Number : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.year, 'Year : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.description, 'Description : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.posterFile, 'Poster : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.posterFile, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(form.series, 'Series : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.series, {'attr': {'class': 'form-control'}}) }}

    <button class="button btn btn-primary">{{ 'Save' }}</button>
{{ form_end(form) }}
