{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('seasons') }}
{% endblock %}

{% block title %}{{ serie.title }} - Season {{ season.number }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ serie.title }} - Season {{ season.number }}</h1>
        <div class="body">
            {% if ('https://' in season.poster) or ('http://' in season.poster) %}
                <img class"seasonPoster" src="{{ season.poster }}" alt="{{ serie.title }} poster">
            {% else %}
                <img class"seasonPoster" src="/uploads/seasons/posters/{{ season.poster }}" alt="{{ season.poster }} poster">
            {% endif %}
            <div class="informations">
                <p>Series title :
                    <a href="{{ path("serie_show", { slug: serie.slug }) }}">{{ serie.title }}</a>
                </p>
                <p>Season : Season {{ season.number }}</p>
                <p>Date : {{ season.year }}</p>
                <div class="dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Episodes : {{ episodes|length }} episodes
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for episode in episodes %}
                        <a class="dropdown-item" href="{{ path('serie_episode_show', { serieSlug: serie.slug, seasonId: season.id, episodeSlug: episode.slug }) }}">Episode
                            {{ episode.number }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <p class="description">{{ season.description }}</p>
            <div class="titi">CASTING :</div>
            <div class="casting">
                {% for actor in season.actors %}
                    <div class="castingPosters">
                        {% if actor.poster %}
                            <a class="actor" href="{{ path('actor_show', { id: actor.id }) }}"><img class="actorPoster" src="{{ actor.poster }}"></a>
                        {%  else %}
                            <a class="actor" href="{{ path('actor_show', { id: actor.id }) }}"><img class="actorPoster" src="{{ asset('build/no-image.png') }}"></a>
                        {% endif %}
                        <a class="actorName" href="{{ path('actor_show', { id: actor.id }) }}">{{ actor.name }}</a>
                    </div>
                {% else %}
                    <div>Aucun acteur pour cette série</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
