{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showSeason') }}
{% endblock %}

{% block title %}{{ series.title }} - Season {{ season.number }}{% endblock %}

{% block body %}
    <div class="container">
        {# Only for admin and author for add new episode #}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
            <a class="buttonAddEpisode btn btn-success btn-sm" href="{{ path("episode_new", { seasonNumber: season.number, seasonId: season.id, seriesSlug: series.slug, seriesId: series.id }) }}">Add new episode</a>
        {% endif %}
        <h1>{{ series.title }} - Season {{ season.number }}</h1>
        <div class="body">
            {% if ('https://' in season.poster) or ('http://' in season.poster) %}
                <img src="{{ season.poster }}" alt="{{ series.title }} poster">
            {% else %}
                <img src="/uploads/seasons/posters/{{ season.poster }}" alt="{{ series.title }} poster">
            {% endif %}
            <div class="informations">
                <p>Series title :
                    <a href="{{ path("series_show", { id: series.id, slug: series.slug }) }}">{{ series.title }}</a>
                </p>
                <p>Season :
                    <a href="{{ path("season_show", { seasonNumber: season.number, id: season.id, seriesSlug: series.slug, seriesId: series.id }) }}">Season {{ season.number }}</a>
                </p>
                <p>Date : {{ season.year }}</p>
                <div class="dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    Episodes : {{ episodes|length }} episodes
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for episode in episodes %}
                        <a class="dropdown-item" href="{{ path('episode_show', { episodeSlug: episode.slug, id: episode.id, seasonNumber: season.number, seasonId: season.id, seriesSlug: series.slug, seriesId:series.id }) }}">Episode
                            {{ episode.number }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <p class="description">{{ season.description }}</p>
            <div class="castingTitle">CASTING :</div>
            <div class="casting">
                {% for actor in season.actors %}
                    <div class="castingPosters">
                        {% if actor.poster %}
                            <a class="actor" href="{{ path('actor_show', { id: actor.id }) }}"><img class="actorPoster" src="{{ actor.poster }}" alt="{{ actor.name }} poster"></a>
                        {%  else %}
                            <a class="actor" href="{{ path('actor_show', { id: actor.id }) }}"><img class="actorPoster" src="{{ asset('build/no-image.png') }}" alt="{{ actor.name }} poster"></a>
                        {% endif %}
                        <a class="actorName" href="{{ path('actor_show', { id: actor.id }) }}">{{ actor.name }}</a>
                    </div>
                {% else %}
                    <div>No actor for this season</div>
                {% endfor %}
            </div>
        </div>
        {# Only for admin and author for edit or delete season #}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
            <div class="rectificationButtons">
                <!-- Edit season button -->
                <a class="buttonEdit btn btn-primary btn-sm" href="{{ path("season_edit", { seasonNumber: season.number, id: season.id, seriesSlug: series.slug, seriesId: series.id }) }}" type="button">Edit season</a>
                <!-- Delete season button -->
                <form class="formDelete" method="post" action="{{ path('season_delete', { 'id': season.id }) }}" onsubmit="return confirm('Do you want to delete : {{ series.title }} - The season {{ season.number }} ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
                    <button class="buttonDelete btn btn-danger btn-sm">Delete season</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
