{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showSeason') }}
{% endblock %}

{% block title %}{{ series.title }} - Season {{ season.number }}{% endblock %}

{% block body %}
    <div class="container">
        {# Only for admin and contributor for add new episode #}
        {% if is_granted("ROLE_CONTRIBUTOR") %}
            <a class="buttonAddEpisode btn btn-success btn-sm" href="{{ path("episode_new", { seasonNumber: season.number, seasonId: season.id, seriesSlug: series.slug, seriesId: series.id }) }}">Add new episode</a>
        {% endif %}
        <h1>{{ series.title }} - Season {{ season.number }}</h1>
        <div class="body">
            {% if season.poster %}
                {% if ('https://' in season.poster) or ('http://' in season.poster) %}
                    <img class="posterSeason" src="{{ season.poster }}" alt="{{ series.title }}'s season {{ season.number }} poster">
                {% else %}
                    <img class="posterSeason" src="/uploads/seasons/posters/{{ season.poster }}" alt="{{ series.title }}'s season {{ season.number }} poster">
                {% endif %}
            {%  else %}
                <img class="posterSeason" src="{{ asset('build/noImage.jpg') }}" alt="{{ series.title }}'s season {{ season.number }} poster">
            {% endif %}
            <div class="informationsSeason">
                <p>Series title :
                    <a href="{{ path("series_show", { id: series.id, slug: series.slug }) }}">{{ series.title }}</a>
                </p>
                <p>Season :
                    <a href="{{ path("season_show", { seasonNumber: season.number, id: season.id, seriesSlug: series.slug, seriesId: series.id }) }}">Season {{ season.number }}</a>
                </p>
                <p>Date : {{ season.year }}</p>
                <div class="dropdown-toggle" role="button" data-bs-toggle="dropdown">
                    All episodes
                </div>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% for episode in episodes %}
                        <a class="dropdown-item" href="{{ path('episode_show', { episodeSlug: episode.slug, id: episode.id, seasonNumber: season.number, seasonId: season.id, seriesSlug: series.slug, seriesId:series.id }) }}">Episode
                            {{ episode.number }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div>
            <p class="descriptionSeason">{{ season.description }}</p>
            <div class="castingTitleSeason">CASTING :</div>
            <div class="castingSeason">
                {% for actor in season.actors %}
                    <div class="castingPostersSeason">
                        <a class="linkActor" href="{{ path('actor_show', { actorName: actor.name, id: actor.id }) }}">
                            {% if actor.poster %}
                                {% if ('https://' in actor.poster) or ('http://' in actor.poster) %}
                                    <img class="posterActor" src="{{ actor.poster }}" alt="{{ actor.name }} poster">
                                {% else %}
                                    <img class="posterActor" src="/uploads/actors/posters/{{ actor.poster }}" alt="{{ actor.name }} poster">
                                {% endif %}
                            {%  else %}
                                <img class="posterActor" src="{{ asset('build/noPhoto.png') }}" alt="{{ actor.name }} poster">
                            {% endif %}
                        </a>
                        <a class="nameActor" href="{{ path('actor_show', { actorName: actor.name, id: actor.id }) }}">{{ actor.name }}</a>
                    </div>
                {% else %}
                    <div>No actor for this season</div>
                {% endfor %}
            </div>
        </div>
        {# Only for admin and contributor for edit or delete season #}
        {% if is_granted("ROLE_CONTRIBUTOR") %}
            <div class="rectificationButtonsSeason">
                <!-- Edit season button -->
                <a class="buttonEditSeason btn btn-primary btn-sm" href="{{ path("season_edit", { seasonNumber: season.number, id: season.id, seriesSlug: series.slug, seriesId: series.id }) }}" type="button">Edit season</a>
                <!-- Delete season button -->
                <form class="formDeleteSeason" method="POST" action="{{ path('season_delete', { id: season.id }) }}" onsubmit="return confirm('Do you want to delete : {{ series.title }} - The season {{ season.number }} ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ season.id) }}">
                    <button class="buttonDeleteSeason btn btn-danger btn-sm">Delete season</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
