{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('program') }}
{% endblock %}

{% block title %}All programs{% endblock %}

{% block body %}
    <div>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button type="submit"><i class="fa fa-search"></i></button>
        {{ form_end(form) }}
    </div>
    <div class="d-flex flex-column align-items-center">
        <h2 class="text-center">All Series</h2>
        <div class="col-8 d-flex row">
            {% for program in programs %}
                <div class="col-3 my-3 d-flex flex-column align-items-center">
                    <a class="shine" href="{{ path("program_show", { slug: program.slug }) }}">
                        <img src="{{ program.poster }}" alt="poster of series">
                    </a>
                    <a class="programTitle" href="{{ path("program_show", { slug: program.slug }) }}">
                        {{ program.title }}
                    </a>
                    <a class="categoryName" href="{{ path("category_show", { categoryName: program.category.name }) }}">{{ program.category.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}
