{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('program') }}
{% endblock %}

{% block title %}All programs{% endblock %}

{% block body %}
    {{ app.session.get('total') }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Search</button>
    {{ form_end(form) }}

    {% include "program/_carousel.html.twig" %}
    <h2 class="text-center">All Series</h2>
    <div class="d-flex justify-content-center">
        <div class="col-8 d-flex row">
            {% for program in programs %}
                <div class="col-3">
                    <div class="d-flex flex-column w-75">
                        <a class="m-0 p-0 shine" href="{{ path("program_show", { slug: program.slug }) }}">
                            <img src="{{ program.poster }}" alt="series image">
                        </a>
                        <a class="programTitle" href="{{ path("program_show", { slug: program.slug }) }}">
                            {{ program.title }}
                        </a>
                        <a class="categoryName" href="{{ path("category_show", { categoryName: program.category.name }) }}">{{ program.category.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <a href="{{ path('app_index') }}">Retour à l'accueil</a>
{% endblock %}