{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
    <ul class="my-5">
        {% for season in seasons %}
            <li>
                <a href="{{ path('program_season_show', {slug: program.slug, seasonId: season.id}) }}">Season
                    {{ season.number }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div>
        <div class="media">
            <img class="my-3" src="/uploads/{{program.poster}}" alt="{{ program.title }} poster">
            <div class="media-body">
                <h1 class="my-0">{{ program.title }}</h1>
                <p>{{ program.summary }}</p>
                <p>Catégorie :
                    {{ program.category.name }}</p>
            </div>
        </div>
        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>

    <a id="watchlist" href="{{ path('program_watchlist', {id: program.id})}}">
        <i class="bi {{ app.user.isInWatchlist(program) ? 'bi-heart-fill' : 'bi-heart' }}"></i>
    </a>

    <strong>Acteurs :</strong>
    <ul>
        {% for actor in program.actors %}
        <li><a href="{{ path('actor_show', {id: actor.id})  }}">{{ actor.name }}</a></li>
            
        {% else %}
            <li>Aucun acteur pour cette série</li>
        {% endfor %}
    </ul>
    {% if is_granted("ROLE_ADMIN") %}
        <a href="{{ path('program_edit', { 'slug': program.slug} ) }}">Éditer</a>
    {%endif%}
{% endblock %}