{% block stylesheets %}
    {{ encore_entry_link_tags('formActor') }}
{% endblock %} 

{{ form_start(formActor) }}
    {{ form_label(formActor.name, 'Name : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formActor.name, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formActor.posterFile, 'Poster : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formActor.posterFile, {'attr': {'class': 'form-control'}}) }}

    {{ form_label(formActor.series, 'Series : ', {'attr': {'class': 'form-label'}}) }}
    {{ form_widget(formActor.series, {'attr': {'class': 'form-control'}}) }}

    <button class="button btn btn-primary">{{ 'Save' }}</button>
{{ form_end(formActor) }}
