{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('indexActor') }}
{% endblock %}

{% block title %}All actors{% endblock %}

{% block body %}
    <div class="container">
        {# Only for admin and author for add new actor #}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
            <a class="buttonAddActor btn btn-success btn-sm" href="{{ path("actor_new") }}">Add new actor</a>
        {% endif %}
        <h1>All actors</h1>
        <div class="body">
            <div class="casting">
                {% for actor in actors %}
                    <div class="castingPosters">
                        {% if actor.poster %}
                            <a class="actor" href="{{ path('actor_show', { actorName: actor.name, id: actor.id }) }}">
                                <img class="actorPoster" src="{{ actor.poster }}" alt="{{ actor.name }} poster">
                            </a>
                        {%  else %}
                            <a class="actor" href="{{ path('actor_show', { actorName: actor.name, id: actor.id }) }}">
                                <img class="actorPoster" src="{{ asset('build/no-image.png') }}" alt="{{ actor.name }} poster">
                            </a>
                        {% endif %}
                        <a class="actorName" href="{{ path('actor_show', { actorName: actor.name, id: actor.id }) }}">{{ actor.name }}</a>
                        {# Only for admin and author for edit or delete actor #}
                        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
                            <div class="rectificationButtons">
                                <!-- Edit actor button -->
                                <a class="buttonEdit btn btn-primary btn-sm" href="{{ path("actor_edit", { actorName: actor.name, id: actor.id }) }}" type="button">Edit</a>
                                <!-- Delete actor button -->
                                <form class="formDelete" method="post" action="{{ path('actor_delete', { id: actor.id }) }}" onsubmit="return confirm('Do you want to delete the actor : {{ actor.name }} ?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actor.id) }}">
                                    <button class="buttonDelete btn btn-danger btn-sm">Delete</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
