{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('showActor') }}
{% endblock %}

{% block title %}{{ actor.name }}{% endblock %}

{% block body %}
    <div class="container">
        {# Only for admin and contributor for edit or delete actor #}
        {% if is_granted("ROLE_ADMIN") or is_granted("ROLE_CONTRIBUTOR") %}
            <div class="rectificationButtonsActor">
                <!-- Edit actor button -->
                <a class="buttonEditActor btn btn-primary btn-sm" href="{{ path("actor_edit", { actorName: actor.name, id: actor.id }) }}" type="button">Edit actor</a>
                <!-- Delete actor button -->
                <form class="formDeleteActor" method="POST" action="{{ path('actor_delete', { id: actor.id }) }}" onsubmit="return confirm('Do you want to delete the actor : {{ actor.name }} ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actor.id) }}">
                    <button class="buttonDeleteActor btn btn-danger btn-sm">Delete actor</button>
                </form>
            </div>
        {% endif %}
        <h1>{{ actor.name }}</h1>
        <div class="body">
            {% if actor.poster %}
                <a class="linkActor" href="{{ path('actor_show', { actorName: actor.name, id: actor.id }) }}">
                    <img class="posterActor" src="{{ actor.poster }}" alt="{{ actor.name }} poster">
                </a>
            {%  else %}
                <a class="linkActor" href="{{ path('actor_show', { actorName: actor.name, id: actor.id }) }}">
                    <img class="posterActor" src="{{ asset('build/no-image.png') }}" alt="{{ actor.name }} poster">
                </a>
            {% endif %}
            <p class="titleListSeries">Known For</p>
            <div class="listSeries">
                {% if series %}
                    {% for oneSeries in series %}
                        <div class="oneSeries">
                            <a class="shinePosterSeries" href="{{ path("series_show", { slug: oneSeries.slug, id: oneSeries.id }) }}">
                                <img src="{{ oneSeries.poster }}" alt="poster of {{ oneSeries.title }}">
                            </a>
                            <a class="titleSeries" href="{{ path("series_show", { slug: oneSeries.slug, id: oneSeries.id }) }}">{{ oneSeries.title }}</a>
                            {% if oneSeries.category.name is defined %}
                                <a class="nameCategory" href="{{ path("category_show", { categoryName: oneSeries.category.name, id: oneSeries.category.id }) }}">{{ oneSeries.category.name }}</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No series found</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
