{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% set mainPath = currentPath|split('/').1 %}

<nav class="navbar navbar-expand-lg navbar-light p-0">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link px-3 {{ mainPath == '' ? 'active text-white' : '' }} menu" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 {{ mainPath == 'series' ? 'active text-white' : '' }} menu" href="/series/">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 {{ mainPath == 'actor' ? 'active text-white' : '' }} menu" href="/actor/">Actrors</a>
            </li>
            {{ render(controller('App\\Controller\\CategoryController::dropdown')) }}
        </ul>
        {# Search series, it's display only in series page #}
        {% if formSearchSeries is defined %}
            {{ form_start(formSearchSeries) }}
                <div class="formSearchSeries">
                    <div class="inputSearchSeries">
                        {{ form_widget(formSearchSeries, {'attr': {'class': 'form-control', 'type': 'search', 'placeholder': 'Search'} }) }}
                    </div>
                    <button class="buttonSearchSeries btn btn-outline-success" type="submit">Search</button>
                </div>
            {{ form_end(formSearchSeries) }}
        {% endif %}
    </div>
</nav>
