{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column mt-0 mb-5 py-0">
    <div class="container-fluid px-0">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-3 {{ currentPath == '/' ? 'active' : '' }} menu" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 {{ currentPath == '/series/' ? 'active' : '' }} menu" href="/series/">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 {{ currentPath == '/categories/' ? 'active' : '' }} menu" href="/categories/">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 {{ currentPath == '/season/' ? 'active' : '' }} menu" href="/season/">Seasons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-3 {{ currentPath == '/episode/' ? 'active' : '' }} menu" href="/episode/">Episodes</a>
                </li>
                <li class="nav-item dropdown">
                    {{ render(controller('App\\Controller\\CategoryController::dropdown')) }}
                </li>
            </ul>
            {# Serach series #}
            {% if formSearchSeries is defined %}
                {{ form_start(formSearchSeries) }}
                    <div class="row m-0 p-0">
                        <div class="col-9 m-0 p-0">
                            {{ form_widget(formSearchSeries, {'attr': {'class': 'col-9 form-control', 'type': 'search', 'placeholder': 'Search'} }) }}
                        </div>
                        <button class="col-3 btn btn-outline-success" type="submit">Search</button>
                    </div>
                {{ form_end(formSearchSeries) }}
            {% endif %}
        </div>
    </div>
</nav>
