{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link px-3 {{ currentPath == '/' ? 'active text-white' : '' }} menu" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 {{ currentPath == '/series/' ? 'active text-white' : '' }} menu" href="/series/">Series</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 {{ currentPath == '/categories/' ? 'active text-white' : '' }} menu" href="/categories/">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 {{ currentPath == '/season/' ? 'active text-white' : '' }} menu" href="/season/">Seasons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-3 {{ currentPath == '/episode/' ? 'active text-white' : '' }} menu" href="/episode/">Episodes</a>
            </li>
            <li class="nav-item dropdown">
                {{ render(controller('App\\Controller\\CategoryController::dropdown')) }}
            </li>
        </ul>
        {# Serach series display only in series page #}
        {% if formSearchSeries is defined %}
            {{ form_start(formSearchSeries) }}
                <div class="formSearchSeries">
                    <div class="inputSearchSeries">
                        {{ form_widget(formSearchSeries, {'attr': {'class': 'form-control', 'type': 'search', 'placeholder': 'Search'} }) }}
                    </div>
                    <button class="buttonSearchSeries btn btn-outline-success" type="submit">Search</button>
                </div>
            {{ form_end(formSearchSeries) }}
        {% endif %}
    </div>
</nav>
