{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('series') }}
{% endblock %}

{% block title %}All Series{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h2 class="text-center">All Series</h2>
        <div class="col-8 d-flex row">
            {% for serie in series %}
                <div class="col-3 my-3 d-flex flex-column align-items-center">
                    <a class="shine" href="{{ path("serie_show", { slug: serie.slug }) }}">
                        <img src="{{ serie.poster }}" alt="poster of series">
                    </a>
                    <a class="serieTitle" href="{{ path("serie_show", { slug: serie.slug }) }}">
                        {{ serie.title }}
                    </a>
                    <a class="categoryName" href="{{ path("category_show", { categoryName: serie.category.name }) }}">{{ serie.category.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
