{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('series') }}
{% endblock %}

{% block title %}All Series{% endblock %}

{% block body %}
    <div class="allSeries">
        <h1>
            {% if search == '' %}
                All Series
            {% else %}
                Result for : {{ search }}
            {% endif %}
        </h1>
        <div class="seriesBody">
            {% for oneSeries in series %}
                <div class="eachSeries">
                    <a class="shineSeriesPoster" href="{{ path("serie_show", { slug: oneSeries.slug }) }}">
                        <img src="{{ oneSeries.poster }}" alt="poster of {{ oneSeries.title }}">
                    </a>
                    <div class="rectificationButtons">
                        <!-- Edit series button -->
                        <a class="buttonEditSeries btn btn-primary btn-sm" href="{{ path("serie_edit", { slug: oneSeries.slug }) }}" type="button">Edit</a>
                        <!-- Delete series button -->
                        <form class="formDeleteSeries" method="post" action="{{ path('serie_delete', { 'id': oneSeries.id }) }}" onsubmit="return confirm('Are you sure you want to delete the series : {{ oneSeries.title }} ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ oneSeries.id) }}">
                            <button class="buttonDeleteSeries btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                    <a class="seriesTitle" href="{{ path("serie_show", { slug: oneSeries.slug }) }}">{{ oneSeries.title }}</a>
                    {% if oneSeries.category.name is defined %}
                        <a class="categoryName" href="{{ path("category_show", { categoryName: oneSeries.category.name }) }}">{{ oneSeries.category.name }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
