<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
        <title>
            {% block title %}Wild-Series{% endblock %}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/365f79b953.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {# Flash message, when a series is added #}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block header %}{% endblock %}
        {% block navbar %}{% endblock %}
        <div class="d-flex justify-content-center mt-5">
            <div class="col-8 bg-white py-5 px-5 main">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block footer %}{% endblock %}
    </body>
</html>
