{% extends "mail/layout_email.html.twig" %}

{% block title %}New Episode - {{ episode.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>New Episode : {{ episode.title }}</h1>
        <div class="body">
            <p>Hello, the new episode {{ episode.title }} has been added on Wild Series</p>
            <a href="http://localhost:8000/episode/{{ episode.slug }}/{{ episode.id }}/season/{{ season.number }}/{{ season.id }}/series/{{ series.slug }}/{{ series.id }}/show">
                HERE YOUR NEW EPISODE
            </a>
        </div>
    </div>
 {% endblock %}
