{% extends "mail/layout_email.html.twig" %}
    {% block title %}
        {{ parent() }}
        Program
    {% endblock %}
{% block body %}
    <h1>New program {{ program.title }} created</h1>
    <p>Hello, the new program {{ program.title }} has been created on Wild Series</p>
    <p>Summary : {{program.summary }}
    <a href="http://127.0.0.1:8000/programs/{{ program.slug }}">HERE YOUR NEW PROGRAM</a>
{% endblock body %}