{% extends "mail/layout_email.html.twig" %}
    {% block title %}
        {{ parent() }}
        Series
    {% endblock %}
{% block body %}
    <h1>New series {{ series.title }} created</h1>
    <p>Hello, the new series {{ series.title }} has been created on Wild Series</p>
    <p>Description : {{series.description }}
    <a href="http://127.0.0.1:8000/series/{{ series.slug }}">HERE YOUR NEW SERIES</a>
{% endblock body %}
