{% extends "mail/layout_email.html.twig" %}

{% block title %}New Series - {{ series.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>New Series : {{ series.title }}</h1>
        <div class="body">
            <p>Hello, the new series {{ series.title }} has been added on Wild Series</p>
            <p>Description : {{series.description }}
            <a href="http://localhost:8000/episode/season/series/{{ series.slug }}/{{ series.id }}/show">
                HERE YOUR NEW SERIES
            </a>
        </div>
    </div>
 {% endblock %}
